# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
.terraformrc
terraform.rc

# Node
node_modules/
npm-debug.log*

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
